<a href="https://colab.research.google.com/github/rafaelrafaelfer/Pandas-Data/blob/main/Melhor_Plano.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importando bibliotecas
import pandas as pd

In [ ]:
# lendo o excel e colocando a coluna url como indice
df = pd.read_excel("/content/Desafio Análise de Dados e SEO Melhor Plano (1).xlsx",
                index_col='url')

In [ ]:
#verificando o arquivo lido
df.head()

                                       clicks  ...       silo
url                                            ...
/agtnet                                 256.0  ...  regionais
/algar-telecom                            1.0  ...  regionais
/algar-telecom/algar-telecom-2-via      850.0  ...  regionais
/algar-telecom/algar-telecom-celular   1518.0  ...  regionais
/algar-telecom/algar-telecom-internet   884.0  ...  regionais

[5 rows x 11 columns]

In [ ]:
# lendo a segunda aba da planilha e colocando a coluna url como indice
df1 = pd.read_excel("/content/Desafio Análise de Dados e SEO Melhor Plano (1).xlsx",sheet_name="funil", index_col='url')

In [ ]:
#verificando o arquivo lido
df1.head()

                                       funil
url
/agtnet                                fundo
/algar-telecom                          meio
/algar-telecom/algar-telecom-2-via      topo
/algar-telecom/algar-telecom-celular   fundo
/algar-telecom/algar-telecom-internet  fundo

In [ ]:
#unindo colunas urls com mesmo indice  das abas urls e funil
dffinal = pd.merge(df, df1, on='url')

In [ ]:
#verificando a uniao das abas
dffinal.head()

                                       clicks  impressions  ...       silo  funil
url                                                         ...
/agtnet                                 256.0          840  ...  regionais  fundo
/algar-telecom                            1.0         3215  ...  regionais   meio
/algar-telecom/algar-telecom-2-via      850.0        16462  ...  regionais   topo
/algar-telecom/algar-telecom-celular   1518.0        40557  ...  regionais  fundo
/algar-telecom/algar-telecom-internet   884.0        60153  ...  regionais  fundo

[5 rows x 12 columns]

In [ ]:
# verificando ultimas linhas da uniao das abas
df.tail()

                              clicks  impressions  ...  clickoffs  silo
url                                                ...
/vivo/vivo-play                 96.0        75251  ...       20.0  vivo
/vivo/vivo-regulariza          632.0       217276  ...       72.0  vivo
/vivo/vivo-sac                2828.0       833525  ...       29.0  vivo
/vivo/vivo-tv                  228.0        28749  ...      151.0  vivo
/vivo/vivo-tv/canais-vivo-tv  3844.0       127504  ...      154.0  vivo

[5 rows x 11 columns]

In [ ]:
#verificando quantas linhas possuem valores nulos para uma posterior analise ou insercao de media nessas linhas
dffinal.isnull().sum()

clicks                   28
impressions               0
ctr                      28
position                  0
clicks_previous          36
impressions_previous      8
ctr_previous             36
position_previous         8
clickoffs_previous      291
clickoffs               280
silo                      3
funil                     5
dtype: int64

In [ ]:
#verificando os tipos de dados da colunas
dffinal.info()

<class 'pandas.core.frame.DataFrame'>
Index: 929 entries, /agtnet to /vivo/vivo-tv/canais-vivo-tv
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   clicks                901 non-null    float64
 1   impressions           929 non-null    int64
 2   ctr                   901 non-null    float64
 3   position              929 non-null    float64
 4   clicks_previous       893 non-null    float64
 5   impressions_previous  921 non-null    float64
 6   ctr_previous          893 non-null    float64
 7   position_previous     921 non-null    float64
 8   clickoffs_previous    638 non-null    float64
 9   clickoffs             649 non-null    float64
 10  silo                  926 non-null    object
 11  funil                 924 non-null    object
dtypes: float64(9), int64(1), object(2)
memory usage: 94.4+ KB

In [ ]:
# Quantos silos existem na base de dado? = 11
len(df.groupby(by='silo',sort=True).size())

11

In [ ]:
# Mostrando os nomes de silos existentes na base?
df.groupby(by='silo',sort=True).size()

silo
claro                     117
genérico topo de funil      6
nextel                     45
oi                        103
planos de celular          20
regionais                  41
residencial                99
sky                        59
telco genérico            207
tim                       108
vivo                      121
dtype: int64

In [ ]:
# Qual o silo com mais trafego organico? = VIVO com um trafego de 195624
df.groupby('silo')['clicks'].sum().nlargest(1)

silo
vivo    195624.0
Name: clicks, dtype: float64

In [ ]:
#Qual silo teve o maior ganho de trafego organico no periodo analisado? 
#Nenhum silo obteve ganhos significativos.
df.groupby('silo')['clicks'].sum().nlargest(11) - df.groupby('silo')['clicks_previous'].sum().nlargest(11)

silo
claro                     -77824.0
genérico topo de funil     -1369.0
nextel                     -9291.0
oi                        -96060.0
planos de celular         -21921.0
regionais                 -23232.0
residencial               -31663.0
sky                       -43731.0
telco genérico           -187372.0
tim                       -59649.0
vivo                     -104843.0
dtype: float64

In [ ]:
#Qual silo teve o maior ganho de trafego organico no periodo analisado? 
#Em contrapartida o que teve uma menor perca de acordo com a porcentagem abaixo foi (genérico topo de funil 10,52%)(telco genérico 49,21%)
df.groupby('silo')['clicks'].sum().nlargest(11) / df.groupby('silo')['clicks_previous'].sum().nlargest(11)

silo
claro                     0.651478
genérico topo de funil    0.105229
nextel                    0.878551
oi                        0.613588
planos de celular         0.628174
regionais                 0.519295
residencial               0.812571
sky                       0.554079
telco genérico            0.492166
tim                       0.574413
vivo                      0.651067
dtype: float64

In [ ]:
#Agrupando as colunas url, funil, ctr
df2 = dffinal.groupby(by=['url', 'funil', 'ctr']).size()

In [ ]:
#tranformando em um Dataframe
df = pd.DataFrame(df2)

In [ ]:
#verificando o tipo da coluna
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 896 entries, ('/agtnet', 'fundo', 0.035880964994016676) to ('/vivo/vivo-tv/canais-vivo-tv', 'meio', 0.05180789042503062)
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       896 non-null    int64
dtypes: int64(1)
memory usage: 25.8+ KB

In [ ]:
#5 URLs que potencialmente tem um problema?
# As 5 urls listadas abaixo possivelmente tem problemas, pois como podemos... 
#...indentificar o ctr das mesmas estào acima da média e são os mais altos 
#...de uma pagina topo de funil e com isso tende a receber menas visitas.
df.query('funil=="topo" & ctr >= 0.3').head()

                                                                   0
url                                                funil ctr
/blog/4-casos-de-sucesso-para-te-inspirar-a-eco... topo  2.573431  1
/blog/7-filmes-sobre-financas-para-inspirar/       topo  0.411101  1
/blog/desativar-caixa-postal-claro/                topo  0.350335  1
/blog/dicas-para-economizar-todo-mes-no-seu-plano/ topo  0.739994  1
/blog/planejamento-financeiro-durante-a-crise/     topo  2.613768  1

In [ ]:
#5 URLs que estao com uma taxa de conversao pior?
# As 5 urls listadas abaixo sao as que possui um ctr muito ruim... 
#...porem elas estao no fundo do funil com isso a probabilidade de receber visitas e bem alta 
df.query('funil=="fundo" & ctr >= 0.5').head()

                                                                   0
url                                                funil ctr
/blog/smartimao/                                   fundo 0.554661  1
/blog/tim-pre-top/                                 fundo 1.356636  1
/blog/voce-sabe-quais-as-melhores-e-piores-oper... fundo 1.694462  1
/tim/planos-tim/promocoes-tim-controle             fundo 1.122477  1
/tim/planos-tim/tim-pos-familia                    fundo 0.842192  1

In [ ]:
#Liste outras 5 que estão com CTR muito melhor que o esperado. Justifique sua resposta.
#A lista abaixo contem as urls que obteve maior ctr do que havia computado antes durante o periodo
df.groupby('url')['ctr'].sum().nlargest() - df.groupby('url')['ctr_previous'].sum().nlargest()

url
/blog/4-casos-de-sucesso-para-te-inspirar-a-economizar/                                                NaN
/blog/controlar-conta-de-celular/                                                                      NaN
/blog/planejamento-financeiro-durante-a-crise/                                                         NaN
/blog/tim-pre-top/                                                                               -0.036690
/blog/voce-sabe-quais-as-melhores-e-piores-operadoras-de-telefonia-confira-pesquisa-da-anatel/   -1.435092
/parcerias                                                                                             NaN
/sky/sky-internet/internet-rural-sky                                                                   NaN
/tim/planos-tim/promocoes-tim-controle                                                                 NaN
dtype: float64